APP_PORT=<int>
APP_ACCESS_CACHE_TTL=<int>
APP_LOGIN_ATTEMPTS=<int>
APP_COUNTER_TTL=<int>

POSTGRES_HOST=<string>
POSTGRES_PORT=<int>
POSTGRES_USER=<string>
POSTGRES_PASSWORD=<string>
POSTGRES_DB=<string>

REDIS_HOST=<string>
REDIS_PORT=<int>
REDIS_PREFIX=<string>
REDIS_POOL=<int>
REDIS_IDLE_CONNS=<int>
REDIS_DIAL_TIMEOUT=<int ms>
REDIS_READ_TIMEOUT=<int ms>
REDIS_WRITE_TIMEOUT=<int ms>

HTTP_READ_TIMEOUT=<int>
HTTP_WRITE_TIMEOUT=<int>
HTTP_IDLE_TIMEOUT=<int>
HTTP_READ_HEADER_TIMEOUT=<int>

ACCESS_TOKEN_TTL=<int>
REFRESH_TOKEN_TTL=<int>
PASSWORD_COST=<int>

JWT_SECRET=<string>



INIT_SUPERUSER_LOGIN=<string>
INIT_SUPERUSER_PASSWORD=<string>

MAIN_ROUTE=<string -> URLPATH>
